.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100svh;
	animation: forwards slidesOut 0.5s 1.2s ease-in;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("/backgrounds/preload-bg.webp");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.loader {
	position: relative;
	width: 600px;
	height: 20px;
	background-color: var(--text-color);
	border-radius: 20px;
	overflow: hidden;
	margin-inline: 20px;
}

.loader::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	background-color: var(--green-color);
	width: 0%;
	height: 20px;
	animation: forwards barLoading 1s ease-out;
}

@keyframes barLoading {
	from {
		width: 0%;
	}
	50% {
		width: 80%;
	}

	to {
		width: 100%;
	}
}
@keyframes slidesOut {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, -2050px);
	}
}
