.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	width: 100%;
	max-width: 400px;
}

.container form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.headingError i {
	text-align: center;
	left: 0px !important;
}

.container h1 {
	text-align: center;
}

.container form label {
	left: 0;
}

.container form input {
	padding: 12px;
	border-radius: 8px;
}

.container form i {
	top: 4px;
	left: 0;
}

.container form button,
.signInBtn {
	margin-top: 10px;
	background-color: var(--green-color);
	width: 100%;
	padding: 12px;
	border-radius: 8px;
	color: white;
	font-size: 1.1rem;
	transition: 150ms all linear;
}

.container form button:hover {
	background-color: #dda448;
	transition: 150ms all linear;
}

.container p {
	text-align: center;
}

.createAccount,
.haveAccount {
	text-align: center;
	color: var(--border-color);
	text-decoration: underline;
	cursor: pointer;
}

.errorMessage {
	text-align: center;
	color: #e53935;
}

.forgotPassword {
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	text-align: right;
	color: var(--border-color);
	cursor: pointer;
}

.forgotPassword:hover {
	text-decoration: underline;
}

.container i[data-status="success"] {
	color: var(--green-color);
}

.container i[data-status="failure"] {
	top: 4px;
	left: 0;
	color: #e53935;
}
