:root {
	--background: #ffffff;
	--foreground: #171717;
	--dark-grey: #161819;
	--green-color: #0ead68;
	--yellow-color: #dda44891;
	--dark-blue: #1d3041;
	--text-color: #c5cbd3;
	--border-color: #a2a2a2;
	--heading-color: #0ead69;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
	overflow: auto;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

body {
	background-color: var(--dark-grey);
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

html:has(#fake-loading),
body:has(#fake-loading) {
	overflow: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html:has(#burger[data-open="true"]) {
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
button {
	border: none;
	cursor: pointer;
	background-color: var(--green-color);
	color: rgba(255, 255, 255, 0.95);
	font-weight: 500;
	font-size: clamp(0.8em, 2.5vw, 1rem);
	transition: 0.3s all linear;
}

button:hover {
	background-color: #dda448;
	transition: 0.3s all linear;
}

button#contact {
	position: relative;
	margin-top: 60px;
	padding: 20px 60px 20px 60px;
	border-radius: 40px;
	text-transform: uppercase;
	box-shadow: 0px 0px 15px var(--green-color);
	opacity: 0.7;
}

button#contact:hover {
	box-shadow: 0px 0px 15px #dda448;
}

button[data-disabled="true"] {
	background-color: #0ead6881 !important;
}

address {
	font-style: normal;
}

label {
	position: relative;
	left: 16px;
	font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
select,
textarea {
	margin-top: 12px;
	background-color: #d9d9d948;
	border: none;
	padding: 20px;
	border-radius: 15px;
	outline: none;
	caret-color: var(--text-color);
	border: 2px solid transparent;
	color: var(--text-color);
}
input {
	min-width: 330px;
	width: 100%;
}
textarea {
	width: 100%;
	height: 230px;
	resize: none;
}

input:focus,
textarea:focus {
	border: 2px solid var(--green-color);
	transition: 150ms all linear;
}

i {
	display: block;
	position: relative;
	left: 20px;
	font-size: 0.8rem;
	color: #e53935;
	/* background-color: red; */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/* .carousel-sponsor {
	width: 100%;
}
.carousel-sponsor-item {
	margin-inline: 20px;
} */
/* .slick-slide {
	margin: 0 30px;
}

.slick-list {
	margin: 0 -30px;
} */
.cc-slider-container {
	pointer-events: none;
}
.carousel-sponsor {
	pointer-events: none;
}
.carousel-sponsor div {
	pointer-events: none;
	display: flex;
	align-items: center;

	padding: 5px 0 5px 0;
}
.carousel-container {
	margin-inline: auto;
	width: 90%;
	padding-top: 30px;
}

.carousel-item {
	display: flex;
	justify-content: center;
	overflow: visible;
}

.react-multi-carousel-list {
	position: unset !important;
}

@media screen and (max-width: 1100px) {
	input {
		min-width: 300px;
	}
}

@media screen and (max-width: 1000px) {
	input {
		min-width: 280px;
	}
}

@media screen and (max-width: 1000px) {
	input {
		min-width: 280px;
	}
}

@media screen and (max-width: 950px) {
	input {
		min-width: 200px;
	}
}

@media screen and (max-width: 700px) {
	input {
		width: 500px;
	}
}

@media screen and (max-width: 540px) {
	input {
		width: 350px;
	}
}

@media screen and (max-width: 380px) {
	input {
		width: 280px;
	}
}

@media screen and (max-width: 1200px) {
	.carousel-container {
		width: 100%;
	}
}

#modal {
	position: fixed;
	z-index: 2;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--foreground);
	padding: 24px;
	border-radius: 8px;
}

#layout {
	position: fixed;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

html:has(#modal) {
	overflow: hidden;
}
