:root {
	--background: #ffffff;
	--foreground: #171717;
	--dark-grey: #161819;
	--green-color: #0ead68;
	--yellow-color: #dda44891;
	--dark-blue: #1d3041;
	--text-color: #c5cbd3;
	--heading-color: #0ead69;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-image: url("/noise.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

main {
	/* position: relative; */
	/* height: 200vh; */
}

#dark-bg {
	position: absolute;
	top: -50;
	z-index: -1;
	width: 100%;
	height: 100%;

	/* background-image: url("/dark-bg.svg"); */
	/* filter: blur(10px); */
	/* border-radius: 50%; */

	/* background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: blur(); */
}

#dark-bg img {
	/* rotate: -2deg; */
	object-fit: cover;
	filter: blur(25px);
	/* border-radius: 0 0 50% 50%; */
}

#yellow-bg {
	position: absolute;
	/* top: -50; */
	top: 0;
	right: 0;
	/* width: 100%; */
	/* width: 30%; */
	/* right: -300px; */
	z-index: -1;

	/* opacity: 0.5; */
	/* filter: blur(10px); */
	/* object-fit: cover; */
}

#yellow-bg img {
	/* object-fit: cover; */
	opacity: 0.4;
	/* filter: blur(120px); */
	/* -webkit-filter: blur(220px); */

	/* -webkit-transform: translate3d(0, 0, 0);
	overflow: hidden; */
	/* border-radius: 30%; */
	/* rotate: 180deg; */
}

#square-bottom {
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

button {
	cursor: pointer;
	border: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

.carousel-container {
	margin-inline: auto;
	width: 90%;
	padding-top: 30px;
}

.carousel-item {
	display: flex;
	justify-content: center;
	overflow: visible;
}

.react-multi-carousel-list {
	position: unset !important;
}
