:root {
	--background: #ffffff;
	--foreground: #171717;
	--dark-grey: #161819;
	--green-color: #0ead68;
	--yellow-color: #dda44891;
	--dark-blue: #1d3041;
	--text-color: #c5cbd3;
	--heading-color: #0ead69;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
} */

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: var(--dark-grey);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-color);
}

main {
	/* background: linear-gradient(var(--dark-blue), var(--dark-grey), var(--green)); */
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

button {
	cursor: pointer;
	border: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
