.container {
	width: 100%;
}

/* .players {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
} */

/* .leftArrow img {
	position: absolute;
	left: 0;
}

.rightArrow img {
	position: absolute;
	right: 0;
	rotate: -180deg;
} */
