.container {
	max-width: 500px;
	width: 100%;
}
.container strong {
	cursor: pointer;
}
.wrapper {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 35px;
}

@media screen and (max-width: 355px) {
	.wrapper {
		gap: 10px;
	}
}
