.container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	width: 100%;
	max-width: 1300px;
}

.left {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: start;
	gap: 15px;
	max-width: 1100px;
}

.left::before {
	position: absolute;
	content: "";
	top: -2;
	left: 280;
	background-color: var(--green-color);
	height: 4px;
	width: 80px;
	box-shadow: 0 2px 4px var(--green-color);
}

.container:nth-child(2) .left::before,
.container:nth-child(3) .left::before {
	left: 175;
	width: 40px;
}

.container:nth-child(2) {
	justify-content: flex-start;
	gap: 125px;
}

.container:nth-child(2) .left {
	max-width: 600px;
}
.container:nth-child(2) .left img,
.container:nth-child(3) .left img {
	width: 60px;
	height: 60px;
}

.container:nth-child(2) .right img {
	width: 340px;
	height: 340px;
}

.container:nth-child(3) {
	justify-content: flex-start;
	flex-direction: row-reverse;
	gap: 125px;
}

.container:nth-child(3) .left {
	max-width: 500px;
}

.logo {
	padding: 8px;
	border: 1px solid var(--green-color);
	border-radius: 8px;
	box-shadow: 0px 0px 4px var(--green-color);
}

.content {
	border: 1px solid var(--text-color);
	padding: 30px;
	border-radius: 8px;
}

.content h2 {
	color: var(--green-color);
	font-size: 2.2rem;
	margin-bottom: 20px;
}
