.container {
	display: flex;
	justify-content: center;
	width: 80px;
	height: 80px;
}

.sponsorImage {
	width: 100%;
	height: 100%;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
		contrast(103%);
	object-fit: contain;
}
