.container {
	margin-top: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	height: 100%;
	min-height: 120px;
}

.links ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.socials span {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

@media screen and (max-width: 950px) {
	.container {
		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;
		gap: 50px;
	}
	.logo {
		margin-bottom: -50px;
	}

	.links {
		text-align: center;
	}

	.socials {
		text-align: center;
		margin-bottom: 40px;
	}
}
