.container {
	/* position: fixed;
	left: 0;
	bottom: 0;
	width: 100%; */
	margin-top: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	height: 180px;
}

.links ul {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.socials span {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}
