.main {
	margin-inline: 20px;
	margin-top: 50px;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("/backgrounds/brands-bg.webp");
	background-repeat: no-repeat;
	background-position: 50% 45%;
	background-size: cover;
}

.container {
	text-align: center;
	max-width: 1300px;
	margin-inline: auto;
}

.heading {
	font-size: clamp(1rem, 1.5vw, 1.3rem);
}

.question {
	margin-top: 80px;
	margin-bottom: 70px;
}

.question span {
	font-weight: bold;
}
.text {
	margin-top: 80px;
	margin-bottom: 100px;
	font-size: clamp(1rem, 1.5vw, 1.2rem);
}
.text span {
	font-weight: bold;
}

.slogan {
	margin-top: 100px;
	margin-bottom: 140px;
}
.slogan > p:nth-child(1) {
	font-size: clamp(26px, 2.5vw, 36px);
	margin-bottom: 20px;
}

.slogan > p:nth-child(2) {
	font-size: clamp(14px, 1.4vw, 19px);
}
.slogan span {
	color: var(--heading-color);
	font-weight: bold;
}

@media screen and (max-width: 950px) {
	.background {
		background-position: 80% 50%;
	}
}
