.main {
	margin-top: 40px;
	margin-inline: 20px;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("/backgrounds/contact-bg.webp");
	background-repeat: no-repeat;
	background-position: 50% 70%;
	background-size: cover;
}

.container {
	text-align: center;
}

.heading {
	margin-bottom: 50px;
}

.heading h1 {
	color: var(--green-color);
	font-size: clamp(3rem, 10vw, 6rem);
}

.heading p {
	max-width: 480px;
	margin-inline: auto;
}

.heading p,
.mail span {
	font-size: clamp(14px, 1.5vw, 15px);
}

.mail {
	margin-bottom: 114px;
}

.buttons {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.buttons button {
	background-color: var(--green-color);
	color: white;
	border-radius: 15px;
	padding: 16px;
	/* width: 100%; */
	width: 270px;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 500;
	transition: 0.3s all linear;
}

.buttons button:hover {
	background-color: #dda448;
	transition: 0.3s all linear;
}

@media screen and (max-width: 950px) {
	.background {
		background-position: 80% 50%;
	}
}

@media screen and (max-width: 650px) {
	.buttons {
		margin-bottom: 80px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
