.container {
	padding-bottom: 50px;
	/* margin-inline: 50px; */
	text-align: center;
}

.header h1 {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 36px;
}

.header span {
	color: var(--heading-color);
	font-weight: bold;
}

.header p {
	font-size: 19px;
}

.header button {
	position: relative;
	margin-top: 60px;
	background-color: var(--green-color);
	padding: 20px 60px 20px 60px;
	border-radius: 40px;
	color: rgba(255, 255, 255, 0.95);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	box-shadow: 0px 0px 40px var(--green-color);
	opacity: 0.7;
	transition: 0.3s all linear;
}

.header button:hover {
	background-color: #dda448;
	box-shadow: 0px 0px 40px #dda448;
	transition: 0.3s all linear;
}

.trending {
	margin-inline: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
